<form (ngSubmit)="submit()" [formGroup]="fileForm" #formDir="ngForm">
  <div class="form-group">
    <fieldset>
      <label for="image">Faça o upload da sua imagem:</label>
      <input
        type="file"
        accept="image/*"
        (change)="onFileChange($event)"
        formControlName="file"
        multiple
      />
      <span *ngIf="isValidInput(fileForm, 'file')">
        Este campo deve ser preenchido
      </span>
    </fieldset>

    <span>{{ filesList.length }}</span>
    <div class="grid">
      <div *ngFor="let i of filesListKeys" class="image-container">
        <mat-spinner *ngIf="!urlsList[i]" [diameter]="70"></mat-spinner>
        <img *ngIf="urlsList[i]" [src]="urlsList[i]" />
      </div>
    </div>
  </div>
  <button type="submit">Enviar</button>
</form>
