<form (ngSubmit)="submit()" [formGroup]="fileForm" #formDir="ngForm">
  <header>
    <span class="title">Faça upload de seus arquivos</span>
  </header>
  <article>
    <div class="upload-area">
      <span class="material-symbols-rounded"> upload </span>
      <span class="upload-title">
        Arraste e solte ou escolha o arquivo para carregar
      </span>
      <label for="upload">
        <input
          type="file"
          id="upload"
          accept=".pdf,.jpg,.jpeg,.png,.svg,.webp"
          (change)="onFileChange($event)"
          formControlName="inputFile"
          multiple
        />
      </label>
    </div>
    <span class="limit-error" *ngIf="hasLimitReached">
      Limite de upload ({{ uploadLimit | filesize }})
    </span>

    <div class="files-uploaded">
      <app-file
        [file]="file"
        *ngFor="let file of uploadedFiles"
        (removeFile)="removeFileFromList(file.id)"
      ></app-file>
    </div>
  </article>
  <footer>
    <div class="total-container">
      <span
        >{{ uploadedFiles.length }}
        {{ uploadedFiles.length === 1 ? "item" : "items" }}</span
      >
      <span *ngIf="batchSize()">Total: {{ batchSize() | filesize }}</span>
    </div>
    <div class="options-container">
      <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
      <button class="send" type="submit">Enviar</button>
    </div>
  </footer>
</form>
